<html>
<head>
  <title>Anguflix</title>
  <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="node_modules/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body ng-app="appAnguflix"> 
  <section ng-controller="anguflixCtrl"><!--main controller-->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/08/Netflix_2015_logo.svg/320px-Netflix_2015_logo.svg.png">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
           <span class="search input-group">
                 <input type="text" class="form-control" ng-model="movieTitle" placeholder="Enter movie name">
                  <span class="input-group-btn">
                <button type="button" class="btn btn-success" ng-click="searchMovie(movieTitle)">search</button>
                  </span>
              </span>
          </li>    
          <li>
             <span class="filter input-group">
                 <input type="text" class="form-control" ng-model="movieTitleFilter" placeholder="filter by movie name">
                  <span class="input-group-btn">
                <button type="button" class="btn btn-danger" ng-click="filterMovie(movieTitle)">Filter</button>
                  </span>
              </span>
          </li>
          <li>
            <a href="#collection">My Collection</a>
          </li>
          <li>
            <a href="#popular">Recommendations</a>
          </li>
          <li class="dropdown" >
            <a href="#" class="budget" data-toggle="dropdown" role="button"> {{userBudget | currency}} <i class="fa fa-shopping-cart"></i></a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

<!--hardcoded movie list-->
 <div class="fluid-container">    
          <section class="hardcoded">
            <h1 class="text-center">Recommendations</h1>

                  <div class="col-md-12 well text-center" ng-repeat="movie in moviesList | orderBy: '-title' track by $index">
                        <div class="col-md-6 text-section">
                            <h3>{{movie.titleMovie}} <span style="font-size:20px;">/ {{movie.movieYear}}</span></h3>
                            <p>{{movie.plot}}</p>
                        </div>  

                        <div class="col-md-6 image-section">
                             <img ng-src="{{movie.poster}}"/><br><br>
                              <button type="button" class="btn btn-danger btn-sm" ng-click="addToCollection(movie)">add to collection</button>
                        </div>  
                  </div>
          </section>
  </div> <!--end of fluid container-->

<!--api-->
<div class="fluid-container"> 
      <section id="popular" class="popular">      
              <h1 class="text-center">Search Results</h1>
                   <div class="col-md-12 well text-center" ng-repeat="movie in popular | orderBy: '-title' track by $index">
                        <div class="col-md-6 text-section">
                            <h3>{{movie.titleMovie}} <span style="font-size:25px;">{{movie.movieYear}}</span></h3>
                          <p class="plot">{{movie.plot}}</p>
                        </div>
                        <div class="col-md-6 image-section">
                            <img ng-src="{{movie.poster}}"/><br><br>
                            <button type="button" class="btn btn-danger btn-sm" ng-click="addToCollection(movie)">add to collection</button>
                        </div>    
                  </div>  
      </section> 
 </div> <!--end fluid container

<!--collection-->
  <div class="container" >
    <div class="row">
        <h1 class="text-center">your collection</h1> 
          <div class="col-md-7 col-md-offset-5"> 
          </div>
          <div ng-show="emptyCollection">
              <h4 class="text-center">Select movies to add to your collection</h4>
          </div> 
    </div>  
 </div><!--end container-->


<!--collection array-->
<div class="fluid-container"> 
      <section id="collection" class="collection">      
                   <div class="col-md-12 well text-center" ng-repeat="movie in userCollection | orderBy: '-title' track by $index">
                      <div class="col-md-6 text-section">
                          <h3>{{movie.titleMovie}} <span style="font-size:25px;">{{movie.movieYear}}</span></h3>
                          <p class="plot">{{movie.plot}}</p>
                      </div>
                      <div class="col-md-6 image-section">   
                          <img ng-src="{{movie.poster}}"/><br><br>
                          <button type="button" class="btn btn-danger btn-sm" ng-click="removeFromList($index)">remove</button>

                    <!-- rate: <span ng-bind-html="movie.rate"></span> -->

      </section> 
 </div> <!--end fluid container-->


</section> <!--end main controller section-->


<!--scripts-->
<script type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="node_modules/angular/angular.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.2/angular-sanitize.js"></script>
<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="anguflixService.js"></script>
<script type="text/javascript" src="anguflixCtrl.js"></script>


</body>
</html>
