/*netflix-red color:#F40612;
*/

body{background-color: #000;color:#fff;}

img{
  width:140px;
  height:220px;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

.hardcoded {margin-top: 100px;}
.popular {margin-top: 650px;}
.well {
  margin-left: 10px;
  padding-right: 10px;
  background-color: black;
  display: inline-block;
  height:300px;
  width:400px;
}

.header{margin-top:80px;}

.plot{
  overflow: scroll;
  height: 42px;
}

.filter {width:400px;padding-top: 10px;}
.search{width: 400px;padding-top: 10px;padding-right: 10px;}

.budget{float:right;}
h1{color:#fff;}

.rate{display:none;}

.promotion{
  background: url(https://i.vimeocdn.com/video/611437407.jpg?mw=1920&mh=1080&q=70) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #FFF;
  height: 80%;
  background-color: #060;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  z-index: 9999;
}